* {
  box-sizing: border-box;
}

.container {
  max-width: 870px;
  width: 100%;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 75px;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;

  padding: 0;
  gap: 24px;
}

.nav-link {
  text-decoration: none;
  color: #bf7506;
  font-family: "Inter", sans-serif;
}

.nav-link.active {
  font-weight: 700;
}

.header {
  display: flex;
  gap: 35px;
  margin-bottom: 72px;
}
.header-photo {
  width: 212px;
  height: 240px;
}
.header-text {
  max-width: 510px;
}
.header-span {
  color: #bf7506;
}
.header-text-h1 {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
}

.header-text-sub {
  margin: 0;
  margin-bottom: 23px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
}

.header-text-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-text-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.header-text-dowload {
  display: flex;
  align-items: center;
  margin: 0;
  padding-bottom: 7px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  border-bottom: 2px solid #bf7506;
  text-decoration: none;
  color: #211b12;
}
.header-text-dowload-main {
  margin-right: 44px;
}
.header-text-dowload img {
  width: 24px;
  height: 24px;
  padding-right: 4px;
  padding-bottom: 7px;
}

.header-text-border {
  border: 1.5px solid #bf7506;
}

.content-h1 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  color: #bf7506;
  margin: 0;
  margin-bottom: 32px;
}
.main-content {
  display: flex;
  align-items: center;
  gap: 72px;
}
.card {
  max-width: 400px;
  margin-bottom: 120px;
}
.card-container {
  margin-left: 16px;
}
.card-h3 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: #bf7506;

  margin-top: 16px;
  margin-bottom: 8px;
}
.card-list {
  display: flex;
  list-style: none;
  gap: 4px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.card-item {
  border: 1px solid #bf7506;
  padding: 5px 8px;
  border-radius: 5px;
}
.card-p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.card-icon {
  display: flex;
}

.about-me {
  font-family: "Inter", sans-serif;
  display: flex;

  gap: 56px;
}
.about-me-my-photo img {
  width: 360px;
  height: 440px;
  border-radius: 20px;
}
.about-me-text-firsth2 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 24px;
  margin-bottom: 4px;
}
.about-me-text-secondh2 {
  font-size: 32px;
  color: #bf7506;
}
.about-me-text-p {
  font-size: 16px;
}

.about-me-text-psecond {
  font-size: 24px;
  color: #bf7506;
}
.about-me-text-secondh2,
.about-me-text-p,
.about-me-text-psecond {
  margin: 0;
  margin-bottom: 16px;
}
.about-me-signature {
  margin-top: 16px;
}

.my-skill h2 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 13px;
}

.feedback {
  padding: 80px 0 160px;
}
.feedback-title {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  margin-bottom: 16px;
}
.input {
  border: 3px solid;
  border-radius: 4px;
  width: 435px;
  height: 48px;
  color: #e0dedc;
}
.input-group {
  position: relative;
  padding-top: 9px;
  margin-bottom: 24px;
}
.input-label {
  position: absolute;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #83807c;
  padding: 0 8px;
  background: rgb(255, 255, 255);
  top: 0;
  left: 16px;
}
.textarea {
  height: 140px;
}
.form-container {
  max-width: 435px;
  margin: auto;
}
.form-button {
  display: flex;
  justify-content: flex-end;
}
.button {
  display: flex;
  align-items: center;
  margin: 0;
  padding-bottom: 7px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  border: none;
  border-bottom: 2px solid #bf7506;
  text-decoration: none;
  color: #211b12;
  background-color: #fff;
  cursor: pointer;
}
.footer {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 20px;
  color: #83807c;
}
